################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/MVC_Trace/v16
/Model/obj/Debug
/View/bin/Debug
/View/obj/Debug
